@page
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN221_Assignment.Models
@using PRN221_Assignment.Data
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var listFriend = (List<User>)ViewBag.listFriend;
    var listPost = (List<PostData>)ViewBag.listPost;
    var upComing = (List<User>)ViewBag.upComingBirthdayFriend;
    var listSaved = (List<int>)ViewBag.listSaved;
    string CalculateDay(DateTime? dob)
    {
        var birthday = (DateTime)dob;
        var birthdayThisYear = new DateTime(DateTime.Now.Year, birthday.Month, birthday.Day);
        var differ = (birthdayThisYear.Date - DateTime.Now.Date).Days;
        if (differ == 0)
        {
            return "Today";
        }
        if (differ == 1)
        {
            return "Tomorow";
        }
        return differ + " days after";
    }
    string GetTimeToNow(DateTime time)
    {
        var now = DateTime.Now;
        var timespan = now - time;

        if (timespan.TotalMinutes < 1)
        {
            return "just now";
        }

        if (timespan.TotalHours < 1)
        {
            int minutes = (int)timespan.TotalMinutes;
            return minutes == 1 ? "1 minute" : $"{minutes} minutes";
        }

        if (timespan.TotalDays < 1)
        {
            int hours = (int)timespan.TotalHours;
            return hours == 1 ? "1 hour" : $"{hours} hours";
        }

        if (timespan.TotalDays < 7)
        {
            int days = (int)timespan.TotalDays;
            return days == 1 ? "1 day" : $"{days} days";
        }

        if (timespan.TotalDays < 365)
        {
            int weeks = (int)(timespan.TotalDays / 7);
            return weeks == 1 ? "1 week" : $"{weeks} weeks";
        }

        int years = now.Year - time.Year;
        return years == 1 ? "1 year" : $"{years} years";
    }
    string GetColorOfEmotion(string emotionURL)
    {
        var emotion = emotionURL.Split('/').Last().Replace(".png", "");
        switch (emotion)
        {
            case "Like":
                return "#0861f2";
            case "Love":
                return "#e73b54";
            case "Angry":
                return "#dd6b0e";
            default:
                return "#eaa823";
        }
    }
}

@functions {
    IHtmlContent RenderComments(List<CommentData> comments)
    {
        var html = new System.Text.StringBuilder();
        html.Append("<ul>");
        foreach (var comment in comments)
        {
            html.Append("<li>");
            html.Append("<div class='comment'>");
            html.AppendFormat("<img src='{0}' alt='{1}' class='avatar' />", comment.User.ProfilePhotoUrl, "img-user");
            html.Append("<div class='comment-content'>");
            html.AppendFormat("<span class='user-name'>{0}</span>", comment.User.Fullname);
            html.AppendFormat("<span class='comment-text'>{0}</span>", comment.Comment);
            html.Append("<div>");
            html.AppendFormat("<span class='comment-time'>{0}</span>", comment.Time.ToString("g"));
            html.AppendFormat("<span class='comment-actions'>Like ({0})</span>", comment.CmtLikes.Count);
            html.AppendFormat("<span class='comment-actions' onclick=\"ReplyTo('{0}','{1}','{2}','{3}',event)\">Reply</span>", comment.CommentId, comment.User.Fullname, comment.Comment.Length > 50 ? comment.Comment.Substring(0, 50) + " ..." : comment.Comment, comment.PostId);
            html.Append("</div></div></div>");

            if (comment.ListComment != null && comment.ListComment.Any())
            {
                html.Append("<ul>");
                html.Append(RenderComments(comment.ListComment).ToString());
                html.Append("</ul>");
            }

            html.Append("</li>");
        }

        html.Append("</ul>");
        return new HtmlString(html.ToString());
    }
}

<div class="right-sidebar-mini right-sidebar">
    <div class="right-sidebar-panel p-0">
        <div class="card shadow-none">
            <div class="card-body p-0">
                <div class="media-height p-3" data-scrollbar="init">
                    @if (listFriend != null)
                    {
                        foreach (var user in listFriend)
                        {
                            <div class="clickable d-flex align-items-center mb-4" id="friend-@user.UserId" onclick="openChat('@user.UserId','@user.Fullname',true);openChat('@user.UserId','@user.Fullname',true)">
                                <div class="iq-profile-avatar status-offline">
                                    <img class="rounded-circle avatar-50" src="@user.ProfilePhotoUrl" alt="">
                                </div>
                                <div class="ms-3">
                                    <h6 class="mb-0">@user.Fullname</h6>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="right-sidebar-toggle bg-primary text-white mt-3">
                    <i class="ri-arrow-left-line side-left-icon"></i>
                    <i class="ri-arrow-right-line side-right-icon">
                        <span class="ms-3 d-inline-block">Close Menu</span>
                    </i>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 row m-0 p-0" style="display:flow">
                <div class="col-sm-12">
                    <div id="post-modal-data" class="card card-block card-stretch card-height">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Create Post</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="user-img">
                                    <img src="@User.FindFirstValue("profile_picture")" alt="userimg" class="avatar-60 rounded-circle">
                                </div>
                                <form class="post-text ms-3 w-100 " data-bs-toggle="modal" data-bs-target="#post-modal" action="javascript:void();">
                                    <input type="text" class="form-control rounded" placeholder="Write something here..." style="border:none;">
                                </form>
                            </div>
                            <hr>
                            <ul class=" post-opt-block d-flex list-inline m-0 p-0 flex-wrap">
                                <li class="me-3 mb-md-0 mb-2">
                                    <a href="#" class="btn btn-soft-primary">
                                        <img src="~/assets/images/small/07.png" alt="icon" class="img-fluid me-2"> Photo/Video
                                    </a>
                                </li>
                                <li class="me-3 mb-md-0 mb-2">
                                    <a href="#" class="btn btn-soft-primary">
                                        <img src="~/assets/images/small/08.png" alt="icon" class="img-fluid me-2"> Tag Friend
                                    </a>
                                </li>
                                <li class="me-3">
                                    <a href="#" class="btn btn-soft-primary">
                                        <img src="~/assets/images/small/09.png" alt="icon" class="img-fluid me-2"> Feeling/Activity
                                    </a>
                                </li>
                                <li>
                                    <button class="btn btn-soft-primary">
                                        <div class="card-header-toolbar d-flex align-items-center">
                                            <div class="dropdown">
                                                <div class="dropdown-toggle" id="post-option" data-bs-toggle="dropdown">
                                                    <i class="ri-more-fill"></i>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="post-option" style="">
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#post-modal">Check in</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#post-modal">Live Video</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#post-modal">Gif</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#post-modal">Watch Party</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#post-modal">Play with Friend</a>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="modal fade" id="post-modal" tabindex="-1" aria-labelledby="post-modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-sm-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="post-modalLabel">Create Post</h5>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="ri-close-fill"></i></button>
                                    </div>
                                    <form class="modal-body modal-body-scrollable" method="post" enctype="multipart/form-data" id="postForm">
                                        <div class="d-flex align-items-center">
                                            <div class="user-img">
                                                <img src="@User.FindFirstValue("profile_picture")" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                                            </div>
                                           <div id="caption" class="post-text ms-3 w-100" action="javascript:void);">
                                                <input type="text" class="form-control rounded" placeholder="Write something here..." style="border:none;" asp-for="post.Caption">
                                                <input type="hidden" asp-for="post.UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                                            </div>
                                        </div>
                                        <div id="imagePreview" class="newt"></div>
                                        <hr>
                                        <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">
                                            <li class="col-md-6 mb-3">
                                                <div class="bg-soft-primary rounded p-2 pointer me-3" onclick="document.getElementById('fileInput').click()">
                                                    <img src="~/assets/images/small/07.png" alt="icon" class="img-fluid"> Photo
                                                </div>
                                                <input type="file" id="fileInput" style="display: none;" name="listfile" accept="image/*" multiple>
                                            </li>
                                        </ul>
                                        <hr>
                                        <button class="btn btn-primary d-block w-100 mt-3 js-add-slide" id="postButton">Post</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="postList">
                @if (listPost.Count>0)
                {
                    foreach (var post in listPost)
                    {
                        <div class="col-sm-12">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-body" id="card-body-@post.Id" style="padding-bottom: 0">
                                    <div class="user-post-data">
                                        <div class="d-flex justify-content-between">
                                            <div class="me-3">
                                                <img class="rounded-circle avatar-60 img-fluid" src="@post.User.ProfilePhotoUrl" alt="img">
                                            </div>
                                            <div class="w-100">
                                                <div class="d-flex justify-content-between">
                                                    <div class="">
                                                        <h5 class="mb-0 d-inline-block">@post.User.Fullname</h5>
                                                        <span class="mb-0 d-inline-block">Add New Post</span>
                                                        <p class="mb-0 text-primary">@GetTimeToNow(post.Time)</p>
                                                    </div>
                                                    <div class="card-post-toolbar">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                <i class="ri-more-fill"></i>
                                                            </span>
                                                            <div class="dropdown-menu m-0 p-0">
                                                                <a class="dropdown-item p-3 option-post clickable">
                                                                    <div class="d-flex align-items-top">
                                                                        @if (!listSaved.Contains(post.Id))
                                                                        {
                                                                            <div class="h4">
                                                                                <i data-post-id="@post.Id" class="ri-save-line"></i>
                                                                            </div>
                                                                            <div class="data ms-2">                        
                                                                                <h6>Save Post</h6>
                                                                                <p class="mb-0">Add this to your saved items</p>
                                                                            </div> 
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="h4">
                                                                                <i data-post-id="@post.Id" class="ri-close-line"></i>
                                                                            </div>
                                                                            <div class="data ms-2">
                                                                                <h6>Remove Saved Post</h6>
                                                                                <p class="mb-0">Remove this from your saved items</p>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <p>@post.Caption</p>
                                    </div>
                                    <div class="user-post">
                                        <div class="newt">
                                            @foreach (var url in post.PhotoURL)
                                            {
                                                if (!string.IsNullOrEmpty(url))
                                                {
                                                    <div class="post-image">

                                                        <img src="@url" alt="post-image" class="img-fluid rounded w-100">

                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="comment-area mt-3">
                                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                                            
                                                <div class="like-block position-relative d-flex align-items-center">
                                                    <div class="d-flex align-items-center" id="like-post-@post.Id">
                                                        @if (post.ListLike.Count > 0)
                                                        {
                                                        @foreach (var item in post.ListLike.GroupBy(x => x.EmotionURL).OrderByDescending(x => x.Count()).Take(3))
                                                        {
                                                            <div class="total-like-block">
                                                                <div class="dropdown">
                                                                    <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                        <img src='@item.Key' @(item != post.ListLike.GroupBy(x => x.EmotionURL).OrderByDescending(x => x.Count()).Take(3).First() ? "class=nofirst-icon" : "") />
                                                                    </span>
                                                                    <div class="dropdown-menu" style="background-color: rgba(60, 60, 60, 0.7)">
                                                                        @foreach (var like in item)
                                                                        {
                                                                            <div style="color: white; padding-left: 10px;">@like.User.Fullname</div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="total-like-block ms-2 me-3">
                                                            <div class="dropdown">
                                                                <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                                    @post.ListLike.Count
                                                                </span>
                                                                <div class="dropdown-menu">
                                                                    @foreach (var like in post.ListLike)
                                                                    {
                                                                        <div class="dropdown-item">@like.User.Fullname</div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        }
                                                    </div>
                                                </div>

                                            @if (post.ListComments.Any())
                                            {
                                                <div class="share-block d-flex align-items-center feather-icon mt-2 mt-md-0">
                                                    <div class="dropdown">
                                                        <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                            @post.countComment Comments
                                                        </span>
                                                        <div class="dropdown-menu">
                                                            @foreach (var cmt in post.ListCommentsTotal)
                                                            {
                                                                <a class="dropdown-item" href="#">@cmt.User.Fullname</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <hr style="margin-bottom: 0">
                                        <div class="d-flex justify-content-between align-items-center flex-wrap" style="padding: 3px 0 3px 0">
                                            <div class="like-data row-block" onclick="HandleLike('@post.Id', '1', 'true', event)" id="like-display-@post.Id">
                                                @{
                                                    var likeData = post.ListLike.FirstOrDefault(x => x.User.UserId == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)));
                                                }
                                                <div class="dropdown d-flex" style="justify-content: center">
                                                    @if (likeData != null)
                                                    {
                                                        <span class="dropdown-toggle" style="color: @GetColorOfEmotion(likeData.EmotionURL)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                            <img src="@likeData.EmotionURL" style="margin-top: -5px"></img>
                                                            @likeData.EmotionURL.Split('/').Last().Replace(".png","")
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                            <i class="fa-regular fa-thumbs-up"></i>
                                                            Like
                                                        </span>
                                                    }
                                                    <div class="dropdown-menu py-2" style="border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); width: 243px">
                                                        <a class="ms-2 icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '1', 'false', event)"><img src="~/Image/Emoji/like.png" class="img-fluid" alt=""></a>
                                                        <a class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '2', 'false', event)"><img src="~/Image/Emoji/love.png" class="img-fluid" alt=""></a>
                                                        <a class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '3', 'false', event)"><img src="~/Image/Emoji/care.png" class="img-fluid" alt=""></a>
                                                        <a class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '4', 'false', event)"><img src="~/Image/Emoji/haha.png" class="img-fluid" alt=""></a>
                                                        <a class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '5', 'false', event)"><img src="~/Image/Emoji/wow.png" class="img-fluid" alt=""></a>
                                                        <a class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '6', 'false', event)"><img src="~/Image/Emoji/sad.png" class="img-fluid" alt=""></a>
                                                        <a class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" onclick="HandleLike('@post.Id', '7', 'false', event)"><img src="~/Image/Emoji/angry.png" class="img-fluid" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="share-block d-flex align-items-center feather-icon mt-2 mt-md-0 row-block clickable" onclick="toggleComment('@post.Id')">
                                                <span>
                                                    <i class="fa-regular fa-comment"></i>
                                                    Comment
                                                </span>
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0" id="hr-element-@post.Id" hidden>
                                        <div id="comment-container-@post.Id" hidden>
                                            <div class="comments-section">
                                                @RenderComments(post.ListComments)
                                            </div>
                                            <form class="comment-text mt-3">
                                                <div id="replyDiv-@post.Id" class="comment-text align-items-center mt-3 justify-content-between" style="display: none !important; border-top: 1px solid">
                                                    <div>
                                                        <input type="text" id="displayReplyTo-@post.Id" style="border: none; width: 400px; font-weight: bold" readonly />
                                                        <input type="text" id="displayComment-@post.Id" style="border: none; width: 573px; color: gray" readonly />
                                                    </div>
                                                    <input hidden name="replyTo" value="0" type="text" id="replyTo-@post.Id" />
                                                    <input hidden name="postId" type="text" value="@post.Id" />
                                                    <i class="fa fa-close closer" onclick="ReplyTo('-1', '0', '0', '@post.Id')"></i>
                                                </div>
                                                <div class="comment-text d-flex align-items-center">
                                                    <input id="@post.Id" type="text" onkeydown="if (event.key === 'Enter') newComment(event)" class="form-control rounded" placeholder="Enter Your Comment">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else{
                    <div class="col-sm-12">
                        <div class="card card-block card-stretch card-height">
                            <div class="card-body" style="display: flex;padding-bottom: 0;margin: auto;align-items: center;height: 400px;font-size: 5mm;">
                                <div class="user-post-data">
                                    No post display, Add more friends to view more
                                </div>
                             </div>
                         </div>
                     </div>
                }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Upcoming Birthday</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="media-story list-inline m-0 p-0">
                            @foreach (var user in upComing)
                            {
                                <li class="d-flex mb-4 align-items-center">
                                    <img src="@user.ProfilePhotoUrl" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ms-3">
                                        <h5>@user.Fullname</h5>
                                        <p class="mb-0">@CalculateDay(user.Dob)</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Suggested Pages</h4>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="dropdownMenuButton01" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                    <i class="ri-more-fill h4"></i>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton01">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill me-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill me-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill me-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill me-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill me-2"></i>Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="suggested-page-story m-0 p-0 list-inline">
                            <li class="mb-3">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="~/assets/images/page-img/42.png" alt="story-img" class="rounded-circle img-fluid avatar-50">
                                    <div class="stories-data ms-3">
                                        <h5>Iqonic Studio</h5>
                                        <p class="mb-0">Lorem Ipsum</p>
                                    </div>
                                </div>
                                <img src="~/assets/images/small/img-1.jpg" class="img-fluid rounded" alt="Responsive image">
                                <div class="mt-3"><a href="#" class="btn d-block"><i class="ri-thumb-up-line me-2"></i> Like Page</a></div>
                            </li>
                            <li class="">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="~/assets/images/page-img/42.png" alt="story-img" class="rounded-circle img-fluid avatar-50">
                                    <div class="stories-data ms-3">
                                        <h5>Cakes & Bakes </h5>
                                        <p class="mb-0">Lorem Ipsum</p>
                                    </div>
                                </div>
                                <img src="~/assets/images/small/img-2.jpg" class="img-fluid rounded" alt="Responsive image">
                                <div class="mt-3"><a href="#" class="btn d-block"><i class="ri-thumb-up-line me-2"></i> Like Page</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <img src="~/assets/images/page-img/page-load-loader.gif" alt="loader" style="height: 100px;">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#fileInput').on('change', function (event) {
            var files = event.target.files;
            var preview = $('#imagePreview');

            Array.from(files).forEach(file => {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var imgHTML = '<div class="post-image">' +
                        '<img src="' + e.target.result + '" class="img-fluid rounded w-100">' +
                        '<button type="button" class="delete-btn btn btn-danger btn-sm close-img"><i class="fa fa-close"></i></button>' +
                        '</div>';
                    preview.slick('slickAdd', imgHTML); // Add to slick slider
                }
                reader.readAsDataURL(file);
            });

            // Re-initialize slick
            if (!preview.hasClass('slick-initialized')) {
                preview.slick({
                    infinite: false
                });
            }
        });

        // Remove slide on button click
        $('#imagePreview').on('click', '.delete-btn', function () {
            var preview = $('#imagePreview');
            var slideIndex = $(this).closest('.slick-slide').data('slick-index');

            if (preview.slick('getSlick').slideCount === 1) {
                preview.slick('unslick');
                preview.empty();
            } else {
                preview.slick('slickRemove', slideIndex);
            }
        });
    });


</script>